*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "PT Sans", sans-serif;
}
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.header__container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 52px;
}
.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__nav-border {
  border-bottom: 1px solid #000;
}
.header-nav p {
  margin-right: 54px;
  font-weight: normal;
  font-size: 15px;
  line-height: 148.68%;
}
.header-test a {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #1e76b8;
}
.header-test {
  border: 2px solid #1e76b8;
  padding: 2px 20px 2px 15px;
  border-radius: 30px;
}
.about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about__container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  min-height: 600px;
  justify-content: space-between;
}
.about-title {
  margin-bottom: 31px;
  font-weight: bold;
  font-size: 36px;
  line-height: 148.68%;
}
.about-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 148.68%;
  margin-bottom: 56px;
}
.about-batton {
  text-decoration: none;
  background: #1e76b8;
  padding: 16px 45px 16px 45px;
  box-shadow: 5px 7px 30px rgba(30, 118, 184, 0.5);
  border-radius: 30px;
  color: #fff;
  margin-bottom: 40px;
}
.dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}
.dots-item {
  border-radius: 50%;
  background-color: #d1faff;
  height: 12px;
  width: 12px;
  margin: 0px 6px;
  cursor: pointer;
}
.dots-item.active {
  background-color: #1e76b8;
}
.dots-item:hover {
  background-color: #1e76b8;
}
.trigger__heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.trigger__heading span {
  color: #1e76b8;
}
.trigger__body {
  margin-top: 57px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.trigger__item {
  width: 222px;
  text-align: center;
}
.trigger-title {
  font-weight: bold;
  font-size: 15px;
  line-height: 148.68%;
  margin: 8px 0px;
}
.trigger-subtitle {
  font-weight: normal;
  font-size: 12px;
  line-height: 148.68%;
}
.training__heading {
  margin-top: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.training__heading span {
  color: #1e76b8;
}
.training__body {
  margin-top: 65px;
  display: flex;
}
.training__left {
  position: relative;
  background-image: url(/img/training.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.training-overlay {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 12px 0px;
  background: rgba(0, 1, 0, 0.5);
}
.training-overlay p {
  color: #fff;
}
.training__left .dots {
  position: absolute;
  right: 24px;
  top: 17px;
}
